scripts/performanceTest/.Rhistory
scripts/performanceTest/in
scripts/performanceTest/out
scripts/performanceTest/*.csv*
testR/
data/individual_household_power_consumption_detailed/
data/multiple_household_power_consumption/
systemml/
notebooks/SystemMLTutorial/
SystemML.jar
R-3.5.2/
